[submodule "EigenLib"]
	path = EigenLib
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "XML-ParameterList"]
	path = XML-ParameterList
	url = https://github.com/apmcollab/SCC-XML_ParameterList
[submodule "SCC-Utility"]
	path = SCC-Utility
	url = https://github.com/apmcollab/SCC-Utility
[submodule "MakeScripts"]
	path = MakeScripts
	url = https://github.com/apmcollab/SCC-MakeScripts
[submodule "MultiParticleHamiltonian"]
	path = MultiParticleHamiltonian
	url = https://github.com/canderson6151/MultiParticleHamiltonian
[submodule "NuclearPotential"]
	path = NuclearPotential
	url = https://github.com/canderson6151/NuclearPotential
[submodule "Qdomain"]
	path = Qdomain
	url = https://github.com/canderson6151/Qdomain
